@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensansbold.woff2);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
}
body {
  font-size: 16px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
main {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  -outline: 1px solid orange;
}
main::after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  main {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  main {
    width: 1150px;
  }
}
.btn {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 19px;
  text-align: center;
  border: 2px solid #444444;
  box-sizing: border-box;
  background-color: #ffffff;
  text-decoration: none;
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #444444;
  color: #ffffff;
}
.btn:active {
  color: rgba(255, 255, 255, 0.3);
}
picture {
  margin: 0;
  padding: 0;
  border: none;
  border-style: none;
}
.page-header {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  /*.clearfix();*/
  background-color: #ffffff;
  text-align: center;
  -outline: 1px solid black;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .page-header {
    width: 1150px;
  }
}
.page-header__logo {
  margin: 0 -30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
  -text-align: center;
}
.page-header__logo a:hover {
  opacity: .6;
}
.page-header__logo a:active {
  opacity: .3;
}
.main-nav {
  position: relative;
}
.main-nav__toggle {
  position: absolute;
  top: -55px;
  right: 0;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
}
.main-nav__wrapper {
  overflow: hidden;
  margin-left: -30px;
  margin-right: -30px;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #221f1f;
  box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 28px;
  height: 2px;
  background-color: #221f1f;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.main-nav--no-js .main-nav__list {
  display: block;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__list a {
  text-decoration: none;
  display: block;
  padding-left: 45px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.main-nav__list a[href]:hover {
  opacity: .6;
}
.main-nav__list a[href]:active {
  opacity: .3;
}
.main-nav__item {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 30px;
  padding-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  border-bottom: 1px solid #ececec;
}
.main-nav__item--search a,
.main-nav__item--customer a {
  position: relative;
}
.main-nav__item--search a svg,
.main-nav__item--customer a svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  fill: #d3d2d2;
}
.main-nav__item--search a:hover svg,
.main-nav__item--customer a:hover svg {
  fill: #63d1bb;
}
.main-nav .main-nav__list--bonus {
  /*main-nav for cascade*/
  display: none;
}
.main-nav .main-nav__list--news {
  /*main-nav for cascade*/
  display: none;
}
@media (min-width: 768px) {
  .page-header {
    text-align: left;
  }
  .page-header__logo {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    height: 90px;
    line-height: 90px;
  }
  .page-header__logo img {
    vertical-align: middle;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    position: absolute;
    z-index: 10;
  }
  .main-nav__item {
    display: inline-block;
    padding-right: 0;
    border: none;
  }
  .main-nav__item a {
    margin: 0;
    padding-left: 0;
    border: none;
  }
  .main-nav .main-nav__list {
    display: block;
  }
  .main-nav__list--top .main-nav__item {
    padding-top: 20px;
    padding-bottom: 0;
  }
  .main-nav__list--top a {
    font-size: 14px;
  }
  .main-nav__list--bottom {
    top: -90px;
    right: 0;
  }
  .main-nav__list--bottom .main-nav__item {
    padding-top: 35px;
    padding-bottom: 35px;
    border-left: 1px solid #ececec;
  }
  .main-nav__list--bottom a {
    padding-left: 45px;
    padding-top: 0;
  }
  .main-nav__list--bottom a:first-child {
    height: 20px;
    /*for right height when text hidden*/
  }
  .main-nav .main-nav__list--bonus {
    /*.main-nav foe cascade*/
    display: block;
    right: 0;
  }
  .main-nav .main-nav__list--bonus .main-nav__item {
    padding-top: 20px;
  }
  .main-nav .main-nav__list--bonus a {
    font-family: "Verdana";
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
  }
  .main-nav .main-nav__list--news {
    /*main-nav for cascade*/
    display: none;
  }
  .mobile-visible {
    font-size: 0;
  }
}
@media (min-width: 1150px) {
  .page-header__logo {
    text-align: center;
  }
  .main-nav__list--top {
    top: -90px;
  }
  .main-nav__list--top .main-nav__item {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #ececec;
  }
  .main-nav__list--top .main-nav__item:first-child {
    padding-left: 30px;
    border: none;
  }
  .main-nav__list--top a {
    font-size: 16px;
  }
  .main-nav .main-nav__list--news {
    /*.main-nav for cascade*/
    display: block;
  }
  .main-nav .main-nav__list--news .main-nav__item {
    padding-top: 20px;
    padding-right: 30px;
  }
  .main-nav .main-nav__list--news a {
    font-size: 14px;
  }
}
.top {
  width: 100%;
  min-height: 500px;
  background-color: #ffffff;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: -155px 0;
  -outline: 1px solid red;
}
.top::after {
  content: "";
  display: table;
  clear: both;
}
.top__slogan {
  -min-height: 373px;
  padding-top: 85px;
  box-sizing: border-box;
  text-align: center;
}
.top__slogan h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 125px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-style: 24px;
  line-height: 30px;
  color: #231f20;
}
.top__wrapper {
  -margin-top: -72px;
  margin-left: -30px;
  margin-right: -30px;
}
.top__theme {
  display: block;
  position: relative;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 30px;
  padding-right: 160px;
  box-sizing: border-box;
  text-align: left;
  text-decoration: none;
  font-family: "Tahoma Bold", Tahoma, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
.top__theme:active {
  color: rgba(255, 255, 255, 0.3);
}
.top__theme svg {
  position: absolute;
  top: 20px;
}
.top__theme--1 {
  background-color: #63d1bb;
}
.top__theme--1 svg {
  right: 35px;
  fill: #3bb09d;
}
.top__theme--2 {
  background-color: #56c3b2;
}
.top__theme--2 svg {
  right: 26px;
  fill: #35a999;
}
.top__theme--1:hover {
  background-color: #59d5bc;
}
.top__theme--1:hover svg {
  fill: #29a592;
}
.top__theme--2:hover {
  background-color: #46c1ae;
}
.top__theme--2:hover svg {
  fill: #239f8e;
}
.top__theme--1:active {
  background-color: #59d5bc;
}
.top__theme--1:active svg {
  fill: #44c0aa;
}
.top__theme--2:active {
  background-color: #46c1ae;
}
.top__theme--2:active svg {
  fill: #37b2a0;
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
  .top {
    background-image: url('../img/hero-mobile@2x.jpg');
    background-size: 575px auto;
  }
}
/*@media (@tablet-width) and (@img-retina){
	.top {
		background-image: url('../img/hero-mobile@2x.jpg');
		background-size: 575px auto;
	}
}*/
@media (min-width: 768px) {
  .top {
    position: relative;
    min-height: 746px;
    background-image: url('../img/hero-desktop@1x.jpg');
    background-position: center;
  }
  .top::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 23px;
    background-image: url(../img/zigzag.svg);
    background-repeat: repeat-x;
    z-index: 20;
  }
  .top__slogan {
    padding-top: 150px;
  }
  .top__slogan h2 {
    margin-bottom: 375px;
    font-size: 40px;
    line-height: 50px;
  }
  .top__wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .top__theme {
    float: left;
    width: 50%;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .top {
    background-image: url('../img/hero-desktop@2x.jpg');
    background-size: 1150px auto;
  }
}
@media (min-width: 1150px) {
  .top {
    margin-bottom: 70px;
  }
  .top::before {
    height: 36px;
  }
  .top__slogan h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    line-height: 57px;
  }
  .top__theme:hover {
    transform: translateY(-5px);
    z-index: 10;
  }
}
.week-product {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 35px;
  -background-color: #ffffff;
  -outline: 1px solid black;
}
.week-product::after {
  content: "";
  display: table;
  clear: both;
}
.week-product__name {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.1px;
}
.week-product__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.week-product__description {
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}
.week-product__description p {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.week-product__descr-table {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 20px;
  border-collapse: collapse;
}
.week-product__descr-table td {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: center;
  border-bottom: 1px solid #ececec;
}
.week-product__buying {
  text-align: center;
}
.week-product__price {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}
@media (min-width: 768px) {
  .week-product {
    position: relative;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .week-product__name {
    margin-bottom: 50px;
    text-align: left;
    font-size: 40px;
    line-height: 50px;
  }
  .week-product__label {
    position: absolute;
    top: 50px;
    right: 0;
    margin: 0;
    width: 120px;
    text-align: center;
  }
  .week-product__container {
    padding-right: 380px;
    width: auto;
    position: relative;
  }
  .week-product__description p {
    font-size: 16px;
    line-height: 30px;
  }
  .week-product__descr-table td {
    font-size: 15px;
    line-height: 20px;
  }
  .week-product__img {
    position: absolute;
    top: 0;
    right: 0;
  }
  .week-product__price {
    margin-top: 60px;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .week-product {
    padding-bottom: 65px;
    margin-left: 170px;
    width: auto;
  }
  .week-product__name {
    position: relative;
    z-index: 10;
    font-size: 50px;
    line-height: 57px;
  }
  .week-product__label {
    left: -155px;
  }
  .week-product__container {
    padding-right: 0;
    width: 290px;
    position: static;
  }
  .week-product__description {
    margin-bottom: 100px;
  }
  .week-product__description p {
    margin-bottom: 50px;
  }
}
.about {
  -width: 100%;
  padding-bottom: 40px;
  padding-top: 30px;
  -outline: 1px solid red;
}
.about::after {
  content: "";
  display: table;
  clear: both;
}
.about h2 {
  margin: 0;
  padding: 0;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.about__briefly-about {
  margin-bottom: 60px;
}
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.about__item {
  position: relative;
  padding-top: 80px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  -outline: 1px solid red;
}
.about__item div {
  -content: "";
  -display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 50px;
  height: 40px;
  -background-color: green;
  z-index: 1;
  line-height: 40px;
  text-align: center;
}
.about__item svg {
  -display: block;
  -margin: 0 auto;
  vertical-align: middle;
  fill: #63d1bb;
}
.about__reviews {
  -margin-top: 60px;
}
.about__review {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 20px;
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.about__autor-review {
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  font-style: normal;
}
.about__nickname {
  display: block;
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.about__slider-control {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 40px;
  -height: 50px;
  -border-bottom: 1px solid #ececec;
}
.about__slide-arrow {
  display: block;
  float: left;
  box-sizing: border-box;
  height: 50px;
  width: 50%;
  border: 1px solid #ececec;
  text-align: center;
  line-height: 50px;
}
.about__slide-arrow img {
  vertical-align: middle;
}
.about__slide-arrow img:hover {
  opacity: .6;
}
.about__slide-arrow img:active {
  opacity: .3;
}
.about__slide-arrow--next {
  float: right;
  margin-left: -1%;
  -width: 131px;
}
@media (min-width: 768px) {
  .about {
    padding-top: 50px;
  }
  .about__briefly-about {
    margin-bottom: 80px;
  }
  .about__briefly-about h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .about__list {
    flex-wrap: wrap;
    max-height: 450px;
  }
  .about__item {
    -float: left;
    width: 330px;
    font-size: 20px;
  }
  .about__reviews {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 70px;
    background-image: url('../img/review@1x.jpg');
    background-size: 350px 457px;
    background-repeat: no-repeat;
  }
  .about__reviews h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .about__review {
    margin-top: 50px;
    font-size: 16px;
  }
  .about__autor-review {
    font-size: 16px;
  }
  .about__nickname {
    margin-top: 5px;
    font-size: 16px;
  }
  .about__slider-control {
    position: absolute;
    bottom: 100px;
    right: 50px;
    width: 175px;
    margin: 0;
  }
  .about__slide-arrow {
    border: none;
  }
  .about__write-review {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .about__reviews {
    background-image: url('../img/review@2x.jpg');
  }
}
@media (min-width: 1150px) {
  .about__briefly-about {
    margin-left: 170px;
  }
  .about__briefly-about h2 {
    font-size: 50px;
    line-height: 57px;
  }
  .about__reviews {
    padding-left: 170px;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    -width: auto;
  }
  .about__reviews h2 {
    font-size: 50px;
    line-height: 57px;
  }
  .about__slider-control,
  .about__write-review {
    right: 0;
  }
}
.contacts {
  -width: 100%;
  margin-top: 40px;
  margin-bottom: 38px;
  -outline: 1px solid black;
}
.contacts::after {
  content: "";
  display: table;
  clear: both;
}
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.contacts__flag {
  display: none;
}
.contacts__table {
  width: 100%;
  border-collapse: collapse;
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.contacts__table td {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  vertical-align: top;
}
.contacts__table td:first-child {
  width: 30%;
}
.email {
  position: relative;
  cursor: pointer;
}
.email::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 160px;
  height: 1px;
  background-color: #62d1ba;
}
.email:hover {
  color: #46c1ae;
}
.email:hover::after {
  background-color: #46c1ae;
}
.email:active {
  color: #c7ece7;
}
.email:active::after {
  display: none;
}
.contacts__map {
  position: relative;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 37px;
}
.contacts__map-pin {
  position: absolute;
  bottom: 190px;
  left: 125px;
}
@media (min-width: 768px) {
  .contacts {
    position: relative;
    margin-top: 60px;
    margin-bottom: 55px;
  }
  .contacts h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__flag {
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
    width: 45px;
    height: 85px;
    z-index: 20;
  }
  .contacts__table {
    display: block;
    width: auto;
    font-size: 16px;
  }
  .contacts__table::after {
    content: "";
    display: table;
    clear: both;
  }
  .contacts__table tbody {
    display: block;
  }
  .contacts__table tr {
    display: block;
    float: left;
    width: 50%;
  }
  .contacts__table td {
    display: block;
    float: left;
    width: auto;
  }
  .contacts__table td:first-child {
    width: 70px;
  }
  .contacts__map {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 55px;
  }
  .contacts__write-button {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
  .contacts__map-pin {
    bottom: 180px;
    left: 355px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    position: relative;
    margin-top: 70px;
    margin-bottom: 105px;
    margin-left: 170px;
    padding-right: 530px;
    padding-top: 60px;
  }
  .contacts h2 {
    -margin-top: 60px;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__flag {
    left: -120px;
    top: 60px;
  }
  .contacts__table {
    margin-bottom: 55px;
  }
  .contacts__table tr {
    width: auto;
  }
  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 1;
  }
  .contacts__write-button {
    margin: 0;
  }
  .contacts__map-pin {
    left: 250px;
  }
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  text-align: center;
  -outline: 1px solid red;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .page-footer {
    width: 1150px;
  }
}
.page-footer__social {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.social-links {
  display: block;
  text-decoration: none;
}
.social-link {
  display: inline-block;
  margin-right: 40px;
  line-height: 27px;
}
.social-link:last-child {
  margin-right: 0;
}
.social-link svg {
  text-align: center;
  fill: #221f1f;
}
.social-link:hover svg {
  fill: #46c1ae;
}
.social-link:active svg {
  fill: #46c1ae;
  opacity: .3;
}
.page-footer__copyright {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 32px;
}
.page-footer__copyright-link {
  text-decoration: none;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.page-footer__copyright-link img {
  vertical-align: middle;
  padding-left: 25px;
  opacity: .6;
}
.page-footer__copyright-link:hover img {
  opacity: 1;
}
.page-footer__copyright-link:active {
  opacity: .3;
}
@media (max-width: 767px) {
  .page-footer__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .page-footer__logo,
  .page-footer__social,
  .page-footer__copyright {
    padding: 0;
    flex-basis: 200px;
  }
  .page-footer__logo {
    text-align: left;
    width: 200px;
    height: 30px;
  }
  .page-footer__logo :hover {
    cursor: pointer;
  }
  .page-footer__logo svg:hover {
    fill: #46c1ae;
  }
  .page-footer__logo svg:active {
    fill: #46c1ae;
    opacity: .3;
  }
  .page-footer__social {
    border: none;
  }
  .page-footer__copyright {
    text-align: right;
  }
}
.page-catalog::after {
  content: "";
  display: table;
  clear: both;
}
.catalog-header {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-left: -30px;
  margin-right: -30px;
  -margin-bottom: 30px;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
  text-align: center;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.price-list {
  padding-top: 30px;
}
.price-list::after {
  content: "";
  display: table;
  clear: both;
}
.price-list__card {
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
.price-list__card::after {
  content: "";
  display: table;
  clear: both;
}
.price-list__description {
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}
.price-list__product-name {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.price-list__product-name a {
  text-decoration: none;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.price-list__product_descr {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.price-list__price {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.price-list__price svg {
  fill: #d3d2d2;
}
.price-list__price:hover .price-list__cost {
  opacity: .6;
}
.price-list__price:hover svg {
  fill: #63d1bb;
}
.price-list__price:active {
  opacity: .3;
}
.price-list__price:active svg {
  fill: #63d1bb;
}
.price-list__custom {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
}
.process-produce {
  padding-bottom: 30px;
  margin-bottom: 58px;
  border: 1px solid #ececec;
}
.process-produce__header {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 90px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  /*&::before {
		content: "";
		display: block;
		position: absolute;
		top: 13px;
		left: 25px;
		width: 35px;
		height: 25px;
		background-color: green;
	}	*/
}
.process-produce__icon-camera {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 32px;
  height: 32px;
}
.process-produce__icon-camera svg {
  fill: #63d1bb;
}
.process-produce__video {
  position: relative;
}
.process-produce__icon-play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 77px;
}
.process-produce__icon-play svg {
  width: 100%;
  height: 100%;
}
.process-rpoduce__wrapper {
  margin-left: 33px;
  margin-right: 33px;
}
.process-produce__descr {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'OpenSans';
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
}
.process-produce__make-buy {
  -width: auto;
}
@media (min-width: 768px) {
  .catalog-header {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: -50px;
    margin-right: -50px;
    font-size: 40px;
    line-height: 50px;
  }
  .price-list {
    padding-top: 75px;
  }
  .price-list__card {
    position: relative;
    margin-bottom: 55px;
  }
  .price-list__img {
    float: left;
  }
  .price-list__description {
    margin-left: 354px;
    margin-right: 35px;
  }
  .price-list__product-name {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .price-list__product_descr {
    margin-bottom: 190px;
    font-size: 15px;
  }
  .price-list__price {
    position: absolute;
    bottom: 0;
    width: 280px;
    font-size: 16px;
  }
  .process-produce {
    position: relative;
    padding-bottom: 45px;
    margin-bottom: 65px;
  }
  .process-produce__header {
    position: absolute;
    top: 454px;
    width: auto;
    margin-top: 35px;
    margin-left: 40px;
    padding-left: 60px;
    font-size: 18px;
    /*&::before {
			top: 0;
			left: 0;
		}*/
  }
  .process-produce__icon-camera {
    top: -5px;
    left: 0;
  }
  .process-rpoduce__wrapper {
    margin-top: 90px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .process-produce__descr {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
  }
  .process-produce__make-buy {
    width: auto;
  }
}
@media (min-width: 1150px) {
  .catalog-header {
    font-size: 50px;
    line-height: 57px;
  }
  .price-list::after {
    content: "";
    display: table;
    clear: both;
  }
  .price-list__card {
    float: left;
    width: 316px;
    min-height: 665px;
    margin-right: 48px;
  }
  .price-list__card:last-child {
    float: right;
    margin-right: 0;
  }
  .price-list__card:hover {
    box-shadow: 0 11px 14px 0 #ececec;
  }
  .price-list__card:active {
    box-shadow: 0 7px 14px 0 #ececec;
  }
  .price-list__img {
    float: none;
  }
  .price-list__description {
    margin-left: 25px;
    margin-right: 25px;
  }
  .price-list__product_descr {
    margin-bottom: 35px;
  }
  .price-list__price {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 255px;
  }
  .process-produce {
    padding-bottom: 0;
    margin-bottom: 105px;
  }
  .process-produce::after {
    content: "";
    display: table;
    clear: both;
  }
  .process-produce__video {
    float: left;
  }
  .process-rpoduce__wrapper {
    margin-left: 760px;
  }
  .process-produce__make-buy {
    margin-right: 20px;
  }
  .process-produce__header {
    top: 45px;
    left: 760px;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 0;
  }
  .process-produce__header::before {
    top: -50px;
  }
  .process-produce__video:hover .process-produce__icon-play {
    width: calc(120px);
    height: calc(97px);
  }
  .process-produce__video:active .process-produce__icon-play {
    width: calc(80px);
    height: calc(57px);
    opacity: .3;
  }
  .process-produce__icon-camera {
    top: -50px;
  }
  .process-rpoduce__wrapper {
    margin-top: 175px;
  }
}
.form-main {
  padding-bottom: 57px;
}
.form-main::after {
  content: "";
  display: table;
  clear: both;
}
.form-main h2 {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 80px;
  margin-left: -30px;
  margin-right: -30px;
  -margin-bottom: 30px;
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
  text-align: center;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.form-main p {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "OpenSans";
  font-weight: normal;
  font-style: 15px;
  line-height: 25px;
  color: #444444;
}
.form-main__field {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  border: none;
  border-top: 1px solid #62d1ba;
}
.form-main__field legend {
  width: 62px;
  font-family: 'OpenSansBold';
  font-size: 16px;
  line-height: 16px;
  color: #62d1ba;
  text-transform: uppercase;
}
.form-main__field--email legend {
  width: 80px;
}
label {
  display: block;
  height: 40px;
  padding-left: 62px;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
  vertical-align: middle;
  font-family: "Verdana Bold", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  -outline: 1px solid green;
}
label div {
  padding: 3% 0;
}
.form-main__field--type label {
  margin-bottom: 20px;
  padding-top: 7px;
  position: relative;
}
.form-main__field--type label:last-child {
  margin-bottom: 0;
}
.form-main__field--type label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.form-main__field--type label::after {
  /*40 - 16 = 24  24/2 = 12  12-3 = 9*/
  content: "";
  display: none;
  position: absolute;
  top: 11px;
  left: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #62d1ba;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label::after {
  display: block;
}
.form-main__field--color label {
  position: relative;
  margin-bottom: 25px;
}
.form-main__field--color label:last-child {
  margin-bottom: 0;
}
.form-main__field--color label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label::before {
  background-image: url('../img/icon/icon-tick.svg');
  background-repeat: no-repeat;
  background-size: 27px 24px;
  background-position: 7px 8px;
}
/*checkboxes and radio hover and active*/
label:hover::before {
  border-color: #62d1ba;
}
label:active::before {
  border-color: #c7c7c7;
}
.form-main__field--name-surname label {
  padding-left: 0;
  margin-top: 10px;
  height: auto;
}
input[type="text"] {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  font-family: "Verdana";
  font-weight: normal;
  font-size: 16.87px;
  line-height: 19px;
  color: #444444;
}
input[type="text"]:hover,
input[type="text"]:active,
input[type="text"]:focus {
  border-bottom-color: #62d1ba;
}
input[type="text"]:invalid {
  border-bottom-color: #f0b1b1;
}
.form-main__field--phone-number,
.form-main__field--email {
  position: relative;
}
.form-main__field--phone-number input,
.form-main__field--email input {
  padding-right: 40px;
  box-sizing: border-box;
}
.form-main__icon {
  position: absolute;
  right: 5px;
  bottom: 40px;
  width: 32px;
  height: 32px;
}
.form-main__icon svg {
  opacity: .6;
  display: block;
  margin: 0 auto;
  vertical-align: bottom;
}
input:hover + div svg,
input:active + div svg,
input:focus + div svg {
  fill: #62d1ba;
}
.form-main__field--others textarea {
  margin-top: 15px;
  margin-bottom: 25px;
  border: 2px solid #444444;
  padding: 15px;
  -box-sizing: border-box;
  resize: none;
  overflow: hidden;
  font-family: "Verdana";
  font-weight: normal;
  font-size: 16.87px;
  line-height: 19px;
  color: #444444;
}
.form-main__field--others textarea:focus,
.form-main__field--others textarea:active,
.form-main__field--others textarea:hover {
  outline: none;
  border-color: #62d1ba;
}
.form-main__field--others textarea:invalid {
  border-color: #f0b1b1;
}
@media (max-width: 767px) {
  .mobile-invisible {
    display: none;
  }
}
@media (min-width: 768px) {
  .form-main h2 {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: -50px;
    margin-right: -50px;
    font-size: 40px;
    line-height: 50px;
  }
  .form-main p {
    margin-top: 75px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 30px;
  }
  label {
    font-size: 18px;
    height: 50px;
  }
  .form-main__field {
    position: relative;
    padding-top: 55px;
    padding-bottom: 50px;
    padding-left: 165px;
    width: auto;
    border: none;
  }
  .form-main__field legend {
    position: absolute;
    top: 72px;
    left: 0;
  }
  .form-main__field--type label {
    padding-top: 18px;
    padding-left: 80px;
  }
  .form-main__field--type label::before {
    top: 0px;
    width: 50px;
    height: 50px;
  }
  .form-main__field--type label::after {
    top: 17px;
    left: 17px;
    width: 20px;
    height: 20px;
  }
  .form-main__field--color,
  .form-main__field--phone-number,
  .form-main__field--email {
    background-color: #f1f1f1;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 50px;
    padding-left: 215px;
  }
  .form-main__field--color legend,
  .form-main__field--phone-number legend,
  .form-main__field--email legend {
    left: 50px;
  }
  .form-main__field--color {
    padding-bottom: 35px;
  }
  .form-main__field--color label {
    display: inline-block;
    width: 220px;
    padding-left: 80px;
  }
  .form-main__field--color label:last-child {
    margin-bottom: 25px;
  }
  .form-main__field--color label::before {
    top: 0;
    width: 50px;
    height: 50px;
  }
  .form-main__field--name-surname label {
    display: flex;
    -justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .form-main__field--name-surname label::after {
    content: "";
    display: table;
    clear: both;
  }
  .form-main__field--name-surname .form-main__name-form {
    -display: inline;
    -float: left;
    padding-right: 25px;
  }
  .form-main__field--name-surname .inner-table-cell {
    flex-grow: 1;
    -display: inline;
  }
  .form-main__field--phone-number input,
  .form-main__field--email input {
    background-color: transparent;
  }
  .form-main__field--phone-number {
    padding-bottom: 0;
  }
  .form-main__field--email {
    padding-top: 20px;
  }
  .form-main__field--email legend {
    top: 40px;
  }
  /*end fields*/
  input[type="checkbox"]:checked + label::before {
    background-size: 36px 30px;
    background-position: 8px 9px;
  }
  input[type="text"] {
    padding-left: 15px;
    box-sizing: border-box;
  }
  .form-main__icon {
    right: 55px;
  }
  .form-main__icon--phone {
    bottom: 8px;
  }
  .form-main__icon--mail {
    bottom: 58px;
  }
  .form-main__field--others textarea {
    width: 100%;
    box-sizing: border-box;
  }
  .form-main__submit {
    float: left;
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }
  .form-main__instrution {
    display: block;
    float: right;
    padding-top: 10px;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
  }
}
@media (min-width: 1150px) {
  .form-main h2 {
    font-size: 50px;
    line-height: 57px;
  }
  .form-main p {
    margin-top: 115px;
    margin-left: 60px;
  }
  .form-main__field {
    -padding-left: 170px;
  }
  .form-main__field legend {
    -display: block;
    left: 50px;
    width: 55px;
    text-align: center;
  }
  .form-main__field--color legend,
  .form-main__field--phone-number legend,
  .form-main__field--email legend {
    left: 100px;
  }
  .form-main__field--phone-number,
  .form-main__field--email {
    padding-right: 225px;
  }
  .form-main__field--name-surname,
  .form-main__field--others {
    margin-right: 175px;
  }
  .form-main__field--color label {
    width: 265px;
  }
  .form-main__field--name-surname label {
    -height: 50px;
  }
  label {
    -height: 50px;
  }
  .form-main__icon {
    right: 235px;
  }
  .form-main__submit {
    margin-left: 160px;
  }
  .form-main__instrution {
    margin-right: 170px;
  }
}
